# Arquivos de ambiente e segredos
.env
*.env

# Ambiente Virtual
venv/
.venv/
env/

# Python Cache e Compilados
__pycache__/
*.py[cod]
*$py.class

# Arquivos de mídia e estáticos gerados
staticfiles/
media/

# Banco de dados local (se houver)
*.sqlite3

# IDEs e editores
.vscode/
.idea/
.DS_Store
